[submodule "Water/vendor/spdlog"]
	path = Water/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Water/vendor/GLFW"]
	path = Water/vendor/GLFW
	url = https://github.com/TheCherno/glfw
